name: PR Check

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - master
    paths:
      - '.github/workflows/pr_check.yaml'
      - 'src/**'
      - 'test/**'
      - 'resources/**'
      - 'deps.edn'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'

      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.5.2
        with:
          cli: 1.12.4.1602

      - name: Run tests
        run: clojure -X:test

